body{
    margin: 0;
    padding: 0;
    font-family: 'bevan';
    background-color:  #6b9b69 ;
}

.center{
  text-align: center;
  margin:20px;
}

.barra-superior {
    background-color: black;
    padding: 10px;
    color: white;
    max-height: 25px;
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

.barra-superior h3 {
  padding-right: 30px;
  color: green;
  font-size: 14px;
  
}

.barra-superior i {
  padding-left: 10px;
}

#menu-desplegable{
  display: none;
}


.rotar {
    transform: rotate(90deg); 
    transition: transform 0.3s ease;
}


#menu-desplegable{
  background-color:green;
  color:black;
  border: 2px solid black;
  border-top: none;
 
  padding: 10px;
  max-width: 85px;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.3s ease;
  position: absolute;
  z-index: 9999;
}

.menu-desplegable a {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  
  color: white;
  text-decoration: none;
}

  .titulo {
  height: 60px;
  background-color: white;
  color: green;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

main {
  
}

.contactos{
  text-align: center;
  background-color: green;
  border: 2px solid black;
  
  margin: 20px;
}

.contactos h2{
  color: white;
  margin:20px;
  margin-top: 100px;
  margin:auto;
}





@media only screen and (max-width: 600px) { 

.Pmenu h2 {
  color: green;
  text-shadow: 
      -1px -1px 0 #fff,  
       1px -1px 0 #fff,
       -1px 1px 0 #fff,
        1px 1px 0 #fff; 
        
}

.menu img{
   width: 340px;
   padding: 10px;
}

.reservas h2{
  text-align:center;
}

.form{
margin-top: 10px;
 margin-left: 30px;
 margin-right: 30px;
 
 max-width: 500px;
 border: 2px solid black;
 
 background-color: green;
}

input{
  display: block;
  margin: 10px;
}

label{
  margin: 10px;
}

.enviar{
  margin-left: 225px;
  
}

.nosotros h2{
  color: green;
}

.nosotrosT {
  text-align: center;
  background-color: white;
  
   margin: 30px;
   padding: 40px 50px 50px 50px;
}

.nosotrosT h2:not(#primerh2) {
  margin-top: 130px;
}



.reseñas {
  text-align: center;
}

.reseñas p{
  margin-top: 40px;
  margin: 30px;
    
  }

.reseñas{
  background-color: white;
  margin: 30px;
}

#mapa{
 height: 350px;
 margin: 20px;
}

}






@media only screen and (min-width: 601px) and (max-width: 1080px) { 

.menu{
  text-align: center;
}

.menu img{
   width: 500px;
   padding: 20px;
}

.reservas h2{
  text-align:center;
}

.form{
 margin-top: 70px;
 margin-left: auto;
 margin-right: auto;
 
 max-width: 500px;
 border: 2px solid black;
 
 background-color: green;
}

input{
  display: block;
  margin: 10px;
}

label{
  margin: 10px;
}

.enviar{
  margin-left: 225px;
  
}


.nosotros h2{
  color: green;
}

.nosotrosT {
  text-align: center;
  background-color: white;
  
  margin: 50px;
  padding: 50px 110px 110px 110px;
  
}

.nosotrosT h2 {
  margin-top: 130px;
  
}

#primerh2 {
  margin-top: 60px;
}



.reseñas p{
  margin-top: 40px;
  margin: 30px;
    
  }

.reseñas{
  background-color: white;
  margin: 30px;
  
  text-align: center;
  padding: 50px;
}

#mapa{
 height: 350px;
 margin: 20px;
}

}


